.dark {
	.fixed {
		button {
			background-color: #fff;
			svg {
				fill: #111;
			}
		}
	}
}
.fixed {
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	button {
		background-color: #000;
		padding: 10px;
		border-radius: 4px;
		font-size: 1rem;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		svg {
			fill: #fff;
		}
	}
}
