.title-anm {
	width: 100%;
	height: 100%;
	position: relative;
	video {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	h1 {
		width: 100%;
		height: 100%;
		background-color: #000;
		font-size: 2.5rem;
		color: #fff;
		padding: 20px 30px;
		mix-blend-mode: multiply;
	}
}
